USE [master]
GO
/****** Object:  Database [petshop]    Script Date: 2/26/2025 7:02:50 PM ******/
CREATE DATABASE [petshop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'petshop', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\petshop.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'petshop_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\petshop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [petshop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [petshop]
GO
/****** Object:  Table [dbo].[campaignproducts]    Script Date: 2/26/2025 7:02:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[campaignproducts](
	[campaign_product_id] [int] IDENTITY(1,1) NOT NULL,
	[discount_percentage] [real] NOT NULL,
	[effective_date] [date] NULL,
	[campaign_id] [int] NULL,
	[product_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[campaign_product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[campaigns]    Script Date: 2/26/2025 7:02:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[campaigns](
	[campaign_id] [int] IDENTITY(1,1) NOT NULL,
	[chiet_khau] [real] NULL,
	[den_ngay] [datetime2](6) NULL,
	[discount] [real] NOT NULL,
	[phan_tram] [bit] NOT NULL,
	[ten_cam] [varchar](255) NULL,
	[tu_ngay] [datetime2](6) NULL,
PRIMARY KEY CLUSTERED 
(
	[campaign_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[carts]    Script Date: 2/26/2025 7:02:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[carts](
	[cart_id] [int] IDENTITY(1,1) NOT NULL,
	[ngay_them_gio] [datetime2](6) NULL,
	[so_luong_trong_gio] [int] NOT NULL,
	[product_id] [int] NULL,
	[user_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[cart_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 2/26/2025 7:02:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 2/26/2025 7:02:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[ngay_order] [datetime2](6) NULL,
	[tong_gia_tri] [real] NOT NULL,
	[trang_thai] [varchar](255) NULL,
	[user_id] [int] NULL,
	[selected_product_ids] [varbinary](255) NULL,
	[quantities] [varbinary](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ordersdetails]    Script Date: 2/26/2025 7:02:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ordersdetails](
	[order_detail_id] [int] IDENTITY(1,1) NOT NULL,
	[don_gia] [real] NOT NULL,
	[so_luong] [int] NOT NULL,
	[tong_gia] [real] NOT NULL,
	[order_id] [int] NULL,
	[product_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[order_detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payments]    Script Date: 2/26/2025 7:02:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payments](
	[payment_id] [int] IDENTITY(1,1) NOT NULL,
	[ngaytt] [datetime2](6) NULL,
	[p_thuctt] [varchar](255) NULL,
	[statustt] [varchar](255) NULL,
	[tong_tientt] [real] NOT NULL,
	[order_id] [int] NULL,
	[user_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 2/26/2025 7:02:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[product_id] [int] IDENTITY(1,1) NOT NULL,
	[gia] [real] NOT NULL,
	[imageurl] [nvarchar](255) NULL,
	[mo_ta_ngansp] [nvarchar](1000) NOT NULL,
	[mo_tasp] [nvarchar](1000) NOT NULL,
	[sku] [varchar](255) NOT NULL,
	[sl_ton_kho] [int] NOT NULL,
	[tensp] [nvarchar](255) NOT NULL,
	[thue] [real] NULL,
	[category_id] [int] NULL,
	[supplier_id] [int] NULL,
	[gia_giam] [float] NULL,
	[ngay_tao] [datetime2](6) NULL,
PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reviews]    Script Date: 2/26/2025 7:02:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reviews](
	[review_id] [int] IDENTITY(1,1) NOT NULL,
	[n_dung_danh_gia] [varchar](255) NULL,
	[ngay_danh_gia] [datetime2](6) NULL,
	[xep_hangdg] [int] NOT NULL,
	[product_id] [int] NULL,
	[user_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[review_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SPRING_SESSION]    Script Date: 2/26/2025 7:02:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SPRING_SESSION](
	[PRIMARY_ID] [char](36) NOT NULL,
	[SESSION_ID] [char](36) NOT NULL,
	[CREATION_TIME] [bigint] NOT NULL,
	[LAST_ACCESS_TIME] [bigint] NOT NULL,
	[MAX_INACTIVE_INTERVAL] [int] NOT NULL,
	[EXPIRY_TIME] [bigint] NOT NULL,
	[PRINCIPAL_NAME] [varchar](100) NULL,
 CONSTRAINT [SPRING_SESSION_PK] PRIMARY KEY CLUSTERED 
(
	[PRIMARY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SPRING_SESSION_ATTRIBUTES]    Script Date: 2/26/2025 7:02:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SPRING_SESSION_ATTRIBUTES](
	[SESSION_PRIMARY_ID] [char](36) NOT NULL,
	[ATTRIBUTE_NAME] [varchar](200) NOT NULL,
	[ATTRIBUTE_BYTES] [image] NOT NULL,
 CONSTRAINT [SPRING_SESSION_ATTRIBUTES_PK] PRIMARY KEY CLUSTERED 
(
	[SESSION_PRIMARY_ID] ASC,
	[ATTRIBUTE_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[suppliers]    Script Date: 2/26/2025 7:02:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[suppliers](
	[supplier_id] [int] IDENTITY(1,1) NOT NULL,
	[dia_chi_sup] [nvarchar](255) NULL,
	[email_sup] [varchar](255) NULL,
	[tax_code] [nvarchar](255) NULL,
	[ten_sup] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[supplier_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 2/26/2025 7:02:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[avatar] [varchar](255) NULL,
	[dia_chi] [nvarchar](255) NULL,
	[email] [nvarchar](255) NOT NULL,
	[gioi_tinh] [nvarchar](255) NULL,
	[ho_va_ten] [nvarchar](255) NOT NULL,
	[mat_khau] [nvarchar](255) NULL,
	[ngay_sinh] [datetime2](6) NULL,
	[ngay_tao_acc] [datetime2](6) NULL,
	[so_dien_thoai] [nvarchar](15) NULL,
	[user_role] [nvarchar](255) NOT NULL,
	[google_id] [varchar](255) NULL,
	[total_quantity_in_cart] [int] NULL,
	[display_mat_khau] [varchar](255) NULL,
	[new_password] [varchar](255) NULL,
	[activation_code] [varchar](100) NULL,
	[activated] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[carts] ON 

INSERT [dbo].[carts] ([cart_id], [ngay_them_gio], [so_luong_trong_gio], [product_id], [user_id]) VALUES (112, CAST(N'2025-02-25T12:59:36.2040000' AS DateTime2), 1, 1, 29)
SET IDENTITY_INSERT [dbo].[carts] OFF
GO
SET IDENTITY_INSERT [dbo].[categories] ON 

INSERT [dbo].[categories] ([category_id], [category_name]) VALUES (10, N'SALE')
INSERT [dbo].[categories] ([category_id], [category_name]) VALUES (11, N'DOG LEASHES')
INSERT [dbo].[categories] ([category_id], [category_name]) VALUES (12, N'ACCESSORIES')
SET IDENTITY_INSERT [dbo].[categories] OFF
GO
SET IDENTITY_INSERT [dbo].[orders] ON 

INSERT [dbo].[orders] ([order_id], [ngay_order], [tong_gia_tri], [trang_thai], [user_id], [selected_product_ids], [quantities]) VALUES (36, CAST(N'2025-02-22T17:34:25.8430000' AS DateTime2), 1375000, N'PENDING', 29, NULL, NULL)
INSERT [dbo].[orders] ([order_id], [ngay_order], [tong_gia_tri], [trang_thai], [user_id], [selected_product_ids], [quantities]) VALUES (37, CAST(N'2025-02-22T17:35:00.6470000' AS DateTime2), 4125000, N'PENDING', 29, NULL, NULL)
INSERT [dbo].[orders] ([order_id], [ngay_order], [tong_gia_tri], [trang_thai], [user_id], [selected_product_ids], [quantities]) VALUES (38, CAST(N'2025-02-24T10:38:05.7770000' AS DateTime2), 4125000, N'SHIPPED', 30, NULL, NULL)
SET IDENTITY_INSERT [dbo].[orders] OFF
GO
SET IDENTITY_INSERT [dbo].[ordersdetails] ON 

INSERT [dbo].[ordersdetails] ([order_detail_id], [don_gia], [so_luong], [tong_gia], [order_id], [product_id]) VALUES (37, 1375000, 1, 1375000, 36, 1)
INSERT [dbo].[ordersdetails] ([order_detail_id], [don_gia], [so_luong], [tong_gia], [order_id], [product_id]) VALUES (38, 1375000, 1, 1375000, 37, 1)
INSERT [dbo].[ordersdetails] ([order_detail_id], [don_gia], [so_luong], [tong_gia], [order_id], [product_id]) VALUES (39, 1375000, 1, 1375000, 37, 4)
SET IDENTITY_INSERT [dbo].[ordersdetails] OFF
GO
SET IDENTITY_INSERT [dbo].[products] ON 

INSERT [dbo].[products] ([product_id], [gia], [imageurl], [mo_ta_ngansp], [mo_tasp], [sku], [sl_ton_kho], [tensp], [thue], [category_id], [supplier_id], [gia_giam], [ngay_tao]) VALUES (2, 1375000, N'dogleashes2.png', N'Navy Rope Dog Leash, Adjustable', N'🐾 Sự kết hợp giữa phong cách & tiện lợi, vòng cổ điều chỉnh linh hoạt, phù hợp cho mọi giống chó. 🔹 Chất liệu dây thừng tái chế mang đến độ bền cao, chống mài mòn tốt, chịu lực kéo mạnh. 💖 Thoải mái & thời trang, phù hợp để dắt cún đi dạo hoặc huấn luyện hàng ngày.', N'L-NVB2S', 499, N'Navy Rope Dog Leash', 0, 11, 6, NULL, NULL)
SET IDENTITY_INSERT [dbo].[products] OFF
GO
INSERT [dbo].[SPRING_SESSION] ([PRIMARY_ID], [SESSION_ID], [CREATION_TIME], [LAST_ACCESS_TIME], [MAX_INACTIVE_INTERVAL], [EXPIRY_TIME], [PRINCIPAL_NAME]) VALUES (N'0230b5f5-6e51-4ac1-b273-09bab9f369fd', N'5dd059c0-c00e-4dab-8acf-c036698e0725', 1740553550383, 1740553825883, 1800, 1740555625883, N'bang@gmail.com')
INSERT [dbo].[SPRING_SESSION] ([PRIMARY_ID], [SESSION_ID], [CREATION_TIME], [LAST_ACCESS_TIME], [MAX_INACTIVE_INTERVAL], [EXPIRY_TIME], [PRINCIPAL_NAME]) VALUES (N'182330a8-466c-4d2b-a3fa-3f288f06c505', N'240822b3-a061-426b-95c0-aae21b46add1', 1740553128685, 1740553810229, 1800, 1740555610229, N'nguyenthihauqn93@gmail.com')
GO
INSERT [dbo].[SPRING_SESSION_ATTRIBUTES] ([SESSION_PRIMARY_ID], [ATTRIBUTE_NAME], [ATTRIBUTE_BYTES]) VALUES (N'0230b5f5-6e51-4ac1-b273-09bab9f369fd', N'avatar', 0xACED00057400086C6F676F2E6A7067)
INSERT [dbo].[SPRING_SESSION_ATTRIBUTES] ([SESSION_PRIMARY_ID], [ATTRIBUTE_NAME], [ATTRIBUTE_BYTES]) VALUES (N'0230b5f5-6e51-4ac1-b273-09bab9f369fd', N'email', 0xACED000574000E62616E6740676D61696C2E636F6D)
INSERT [dbo].[SPRING_SESSION_ATTRIBUTES] ([SESSION_PRIMARY_ID], [ATTRIBUTE_NAME], [ATTRIBUTE_BYTES]) VALUES (N'0230b5f5-6e51-4ac1-b273-09bab9f369fd', N'hoVaTen', 0xACED00057400145472E1BAA76E204E67E1BB8D632042E1BAB16E67)
GO
SET IDENTITY_INSERT [dbo].[suppliers] ON 

INSERT [dbo].[suppliers] ([supplier_id], [dia_chi_sup], [email_sup], [tax_code], [ten_sup]) VALUES (5, N'49 ? Lan', N'tranbang1908@outlook.com', N'55000', N'Tr?n Ng?c B?ng')
INSERT [dbo].[suppliers] ([supplier_id], [dia_chi_sup], [email_sup], [tax_code], [ten_sup]) VALUES (6, N'49 ? Lan', N'tranbang1908@outlook.com', N'55000', N'Trần Ngọc Bằng')
INSERT [dbo].[suppliers] ([supplier_id], [dia_chi_sup], [email_sup], [tax_code], [ten_sup]) VALUES (7, N'49 Ỷ Lan', N'tranbang1908@outlook.com', N'55000', N'Trần Ngọc Bằng')
SET IDENTITY_INSERT [dbo].[suppliers] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([user_id], [avatar], [dia_chi], [email], [gioi_tinh], [ho_va_ten], [mat_khau], [ngay_sinh], [ngay_tao_acc], [so_dien_thoai], [user_role], [google_id], [total_quantity_in_cart], [display_mat_khau], [new_password], [activation_code], [activated]) VALUES (29, N'logo.jpg', N'49 Ỷ Lan', N'bang@gmail.com', N'Nam', N'Trần Ngọc Bằng', N'$2a$10$tsHWtnFFVjutpLbbz7229uC4AiQEfwZIFujDObhr9YkcCXpBJsEWm', CAST(N'2002-08-18T00:00:00.0000000' AS DateTime2), CAST(N'2025-02-02T00:00:00.0000000' AS DateTime2), N'0905401799', N'Admin', NULL, 1, N'********', NULL, NULL, 1)
INSERT [dbo].[users] ([user_id], [avatar], [dia_chi], [email], [gioi_tinh], [ho_va_ten], [mat_khau], [ngay_sinh], [ngay_tao_acc], [so_dien_thoai], [user_role], [google_id], [total_quantity_in_cart], [display_mat_khau], [new_password], [activation_code], [activated]) VALUES (30, N'', N'49 Y Lan', N'banguser@gmail.com', N'Nam', N'Trần Ngọc Bằng', N'$2a$10$KEci7Xs5R701yOmS9uyPUupwBm6uCUTOqj23AIlbPYLQAHlrid9sS', CAST(N'2025-01-26T00:00:00.0000000' AS DateTime2), CAST(N'2025-02-02T00:00:00.0000000' AS DateTime2), N'0902000000', N'User', NULL, 0, N'********', NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKfhmd06dsmj6k0n90swsh8ie9g]    Script Date: 2/26/2025 7:02:51 PM ******/
ALTER TABLE [dbo].[products] ADD  CONSTRAINT [UKfhmd06dsmj6k0n90swsh8ie9g] UNIQUE NONCLUSTERED 
(
	[sku] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [SPRING_SESSION_IX1]    Script Date: 2/26/2025 7:02:51 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [SPRING_SESSION_IX1] ON [dbo].[SPRING_SESSION]
(
	[SESSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [SPRING_SESSION_IX2]    Script Date: 2/26/2025 7:02:51 PM ******/
CREATE NONCLUSTERED INDEX [SPRING_SESSION_IX2] ON [dbo].[SPRING_SESSION]
(
	[EXPIRY_TIME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [SPRING_SESSION_IX3]    Script Date: 2/26/2025 7:02:51 PM ******/
CREATE NONCLUSTERED INDEX [SPRING_SESSION_IX3] ON [dbo].[SPRING_SESSION]
(
	[PRINCIPAL_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK6dotkott2kjsp8vw4d0m25fb7]    Script Date: 2/26/2025 7:02:51 PM ******/
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [UK6dotkott2kjsp8vw4d0m25fb7] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[campaignproducts]  WITH CHECK ADD  CONSTRAINT [FKd8i7kwejhlsvxn2on1ufbpwra] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([product_id])
GO
ALTER TABLE [dbo].[campaignproducts] CHECK CONSTRAINT [FKd8i7kwejhlsvxn2on1ufbpwra]
GO
ALTER TABLE [dbo].[campaignproducts]  WITH CHECK ADD  CONSTRAINT [FKgh8qhv8p91iw2mxa1whqhoc3p] FOREIGN KEY([campaign_id])
REFERENCES [dbo].[campaigns] ([campaign_id])
GO
ALTER TABLE [dbo].[campaignproducts] CHECK CONSTRAINT [FKgh8qhv8p91iw2mxa1whqhoc3p]
GO
ALTER TABLE [dbo].[carts]  WITH CHECK ADD  CONSTRAINT [FKb5o626f86h46m4s7ms6ginnop] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[carts] CHECK CONSTRAINT [FKb5o626f86h46m4s7ms6ginnop]
GO
ALTER TABLE [dbo].[carts]  WITH CHECK ADD  CONSTRAINT [FKmd2ap4oxo3wvgkf4fnaye532i] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([product_id])
GO
ALTER TABLE [dbo].[carts] CHECK CONSTRAINT [FKmd2ap4oxo3wvgkf4fnaye532i]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK32ql8ubntj5uh44ph9659tiih] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK32ql8ubntj5uh44ph9659tiih]
GO
ALTER TABLE [dbo].[ordersdetails]  WITH CHECK ADD  CONSTRAINT [FKfl3u0k9849b79cqatnpu5sjaj] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([product_id])
GO
ALTER TABLE [dbo].[ordersdetails] CHECK CONSTRAINT [FKfl3u0k9849b79cqatnpu5sjaj]
GO
ALTER TABLE [dbo].[ordersdetails]  WITH CHECK ADD  CONSTRAINT [FKfyarm1lk9kve3gffc6ba7v0fo] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([order_id])
GO
ALTER TABLE [dbo].[ordersdetails] CHECK CONSTRAINT [FKfyarm1lk9kve3gffc6ba7v0fo]
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD  CONSTRAINT [FK81gagumt0r8y3rmudcgpbk42l] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([order_id])
GO
ALTER TABLE [dbo].[payments] CHECK CONSTRAINT [FK81gagumt0r8y3rmudcgpbk42l]
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD  CONSTRAINT [FKj94hgy9v5fw1munb90tar2eje] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[payments] CHECK CONSTRAINT [FKj94hgy9v5fw1munb90tar2eje]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [FK6i174ixi9087gcvvut45em7fd] FOREIGN KEY([supplier_id])
REFERENCES [dbo].[suppliers] ([supplier_id])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FK6i174ixi9087gcvvut45em7fd]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [FKog2rp4qthbtt2lfyhfo32lsw9] FOREIGN KEY([category_id])
REFERENCES [dbo].[categories] ([category_id])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FKog2rp4qthbtt2lfyhfo32lsw9]
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD  CONSTRAINT [FKcgy7qjc1r99dp117y9en6lxye] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[reviews] CHECK CONSTRAINT [FKcgy7qjc1r99dp117y9en6lxye]
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD  CONSTRAINT [FKpl51cejpw4gy5swfar8br9ngi] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([product_id])
GO
ALTER TABLE [dbo].[reviews] CHECK CONSTRAINT [FKpl51cejpw4gy5swfar8br9ngi]
GO
ALTER TABLE [dbo].[SPRING_SESSION_ATTRIBUTES]  WITH CHECK ADD  CONSTRAINT [SPRING_SESSION_ATTRIBUTES_FK] FOREIGN KEY([SESSION_PRIMARY_ID])
REFERENCES [dbo].[SPRING_SESSION] ([PRIMARY_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SPRING_SESSION_ATTRIBUTES] CHECK CONSTRAINT [SPRING_SESSION_ATTRIBUTES_FK]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD CHECK  (([sl_ton_kho]>=(0)))
GO
USE [master]
GO
