<div th:fragment="sidebar" id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Core</div>
                <a class="nav-link" href="/admin">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-chart-simple" style="color: #63E6BE;"></i></div>
                    Tổng quan
                </a>
                <a class="nav-link" href="/admin/user">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-users" style="color: #B197FC;"></i></div>
                    Người dùng
                </a>
                <a class="nav-link" href="/admin/product">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-box" style="color: #FFD43B;"></i></div>
                    Sản phẩm
                </a>
                <a class="nav-link" href="/admin/order">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-cart-shopping" style="color: #d93030;"></i></div>
                    Đơn hàng
                </a>
                <a class="nav-link" href="/admin/category">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-layer-group" style="color: #74C0FC;"></i></div>
                    Danh mục
                </a>
                <a class="nav-link" href="/admin/supplier">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-truck-field" style="color: #e6e03d;"></i></div>
                    Nhà cung cấp
                </a>
            </div>
        </div>
    </nav>
</div>