<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Supplier Page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

<!-- Latest compiled JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>


    <link rel="stylesheet" th:href="@{/content/css/style.css}">
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>

<body class="sb-nav-fixed">
    <div th:insert="~{fragments/header :: navigation}"></div>
    <div id="layoutSidenav">
        <div th:insert="~{fragments/sidebar :: sidebar}"></div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <h1 class="mt-4">Chỉnh sửa nhà cung cấpr</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item"><a href="/admin">Trang tổng quan</a></li>
                        <li class="breadcrumb-item active">Nhà cung cấp</li>
                    </ol>
                        <hr>
                        <div class="container mt-5">
                            <div class="row">
                                <div class="col-md-6 col-12 mx-auto">
                                    <h3>Tạo nhà cung cấp</h3>
                                    <hr>
                                    <form th:action="@{/admin/supplier/create}" th:object="${supplier}" method="POST" class="row needs-validation" novalidate>
                                        <div>
                                            <label for="diaChiSup" class="form-label">Địa chỉ<span class="text-danger">*</span></label>
                                            <input type="text" id="diaChiSup" class="form-control" th:field="*{diaChiSup}"
                                                   th:classappend="${#fields.hasErrors('diaChiSup')} ? 'is-invalid' : ''">
                                            <div class="invalid-feedback" th:errors="*{diaChiSup}"></div>
                                        </div>
                                        <div>
                                            <label for="emailSup" class="form-label">Email<span class="text-danger">*</span></label>
                                            <input type="email" id="emailSup" class="form-control" th:field="*{emailSup}"
                                                   th:classappend="${#fields.hasErrors('emailSup')} ? 'is-invalid' : ''">
                                            <div class="invalid-feedback" th:errors="*{emailSup}"></div>
                                            <div th:if="${error}" class="alert alert-danger mt-2" th:text="${error}"></div>
                                        </div>
                                        <div>
                                            <label for="taxCode" class="form-label">Mã số thuế<span class="text-danger">*</span></label>
                                            <input type="text" id="taxCode" class="form-control" th:field="*{taxCode}"
                                                   th:classappend="${#fields.hasErrors('taxCode')} ? 'is-invalid' : ''">
                                            <div class="invalid-feedback" th:errors="*{taxCode}"></div>
                                        </div>
                                        <div>
                                            <label for="tenSup" class="form-label">Tên nhà cung cấp<span class="text-danger">*</span></label>
                                            <input type="text" id="tenSup" class="form-control" th:field="*{tenSup}"
                                                   th:classappend="${#fields.hasErrors('tenSup')} ? 'is-invalid' : ''">
                                            <div class="invalid-feedback" th:errors="*{tenSup}"></div>
                                        </div>
                                        <!-- Nút submit -->
                                        <div class="col-12 mb-5">
                                            <button type="submit" class="btn btn-primary mt-3">Tạo</button>
                                            <a href="/admin/supplier" class="btn btn-success mt-3">Quay lại</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            
                        </div>
                </div>
            </main>
            <div th:insert="~{fragments/footer :: footer}"></div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script th:src="@{/content/js/scripts.js}"></script>
    <script>
        (function () {
            'use strict'
            var forms = document.querySelectorAll('.needs-validation')
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }
                        form.classList.add('was-validated')
                    }, false)
                })
        })()
    </script>
    
</body>
</html>
